body {
  background: linear-gradient(rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.5)),
    url("body_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* ----- NAVIGATIONS ------------------------------------------------------------------------------------------------------ */

.top-header nav {
  
}

.navigations {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d0d0d;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  z-index: 1000;
}

.navigations a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.navigations a:hover {
  background: #575757;
}

.navigations .closebtn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: whitesmoke;
  padding: 10px 16px;
  border: none;
}

#main {
  transition: margin-left 0.4s;
  padding: 20px;
}

.Home {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: whitesmoke;
  display: inline-block;
  padding: 12px 24px;
  border-bottom: 0px solid whitesmoke;
  background-color: #0d0d0d;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

.About {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: whitesmoke;
  display: inline-block;
  padding: 12px 24px;
  border-bottom: 0px solid whitesmoke;
  background-color: #0d0d0d;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

.Experience {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: whitesmoke;
  display: inline-block;
  padding: 12px 24px;
  border-bottom: 0px solid whitesmoke;
  background-color: #0d0d0d;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

.Contact {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: whitesmoke;
  display: inline-block;
  padding: 12px 24px;
  border-bottom: 0px solid whitesmoke;
  background-color: #0d0d0d;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

/* ----- HEADERS ------------------------------------------------------------------------------------------------------------- */

header h1 {
  font-size: 32px;
  color: whitesmoke;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

header .title {
  font-size: larger;
  position: relative;
  left: -38px;
  top: -10px;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.top-header {
  background: linear-gradient();
  background-color: black;
  padding: 20px;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transform: translateY(-50px);
  animation: slideDown 1s ease forwards;
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.bottom-header {
  display: flex;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
  background-color: #0d0d0d;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  transform: translateY(-50px);
  animation: slideDown 1s ease forwards;
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

/* ----- IMAGES -------------------------------------------------------------------------------------------------------------------------- */

.gmail-image:hover {
  transform: scale(1.1);
}

.facebook-image:hover {
  transform: scale(1.1);
}

.instagram-image:hover {
  transform: scale(1.1);
}

.github-image:hover {
  transform: scale(1.1);
}

.profile-image {
  margin-left: 500px;
  border: 3px solid #000;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.mobile-image {
  height: 30px;
  position: relative;
  top: 10px;
}

.internet-image {
  height: 30px;
  position: relative;
  top: 10px;
}

.occa-image {
  height: 30px;
  position: relative;
  top: 8px;
}

.nu-image {
  height: 30px;
  position: relative;
  top: 8px;
}

header .favicon-image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

/* ----- PARAGRAPHS ----------------------------------------------------------------------------------------------------------------------- */

.paragraph-1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  opacity: 0;
  margin-bottom: 30px;
  transform: translateY(-50px);
  animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.paragraph-2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  opacity: 0;
  margin-bottom: 200px;
  transform: translateY(-50px);
  animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.paragraph-3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  opacity: 0;
  margin-bottom: 30px;
  transform: translateY(-50px);
  animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.paragraph-4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  opacity: 0;
  margin-bottom: 200px;
  transform: translateY(-50px);
  animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.paragraph-7 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  opacity: 0;
  margin-bottom: 30px;
  transform: translateY(-50px);
  animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.paragraph-8 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  opacity: 0;
  transform: translateY(-50px);
  animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----- FOOTER ---------------------------------------------------------------------------------------------------------------------------- */

footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #000;
  color: whitesmoke;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

footer a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}
